.feature-item-text {
    position: relative;
    height: 145px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(110, 110, 110, .1)
}
.feature-item-text:before {
    content: '';
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 28%;
    width: 1px;
    height: 50%;
    background: #ebebeb;
    transition: all .3s ease;
}
.feature-item-text:hover {
    transform: translateY(-5px);
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;

}
.feature-item-text .img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 28%;
    height: 100%;
}
.feature-item-text .inform {
    width: 72%;
    padding: 0 30px;
    display: inline-block;
    vertical-align: middle;
}
.feature-item-text .inform .title {
    font-size: 18px;
    font-weight: 700;
    color: #212122;
}
.feature-item-text .img img {
 
    height: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55px;
    height: 55px;
    transform: translate(-50%, -50%);
}

.feature-item-text .inform {
    font-size: 14px;
    line-height: 26px;
    color: #808080;
    margin-top: 5px;
}