.footer-dark .contact_services {
    background-color: #385E70;
  
}
.footer-dark .contact_services a {
    color:white !important;
}
.bg-dark-feature-items {
    background-color:#385E70
}
.feature-item:hover {
    transform: translateY(-5px);
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;

}
.z-index999 {
    z-index: 999;
}