.footer-dark .contact_services {
    background-color: #385E70;
  
}
.footer-dark .contact_services a {
    color:white !important;
}
.bg-dark-feature-items {
    background-color:#385E70
}
.faq-ques, .faq-ques-filter, .faq-ques-filter svg {
    color:#ee5586;
}
.no-outline:focus {
    outline: none !important;
}
.heading-aside {
    font-size:15px;
}
.heading-aside.active {
    color:#ee5586;
    font-weight: bold;
}
.filter-gray {
    color: #808080;
    font-size: 15px;
}
.faq-ques:hover, .faq-ques-filter:hover {
    color:#ee5586;
}
.service-help {
    background-color: #F6F6F6;
}
.service-help p {
    line-height: 32px;
    color: #808080;
}
.box-shadow{
    box-shadow: 0 5px 15px 0 rgba(110, 110, 110, .1);
    border-radius: 15px;
    position: relative;
    padding: 80px 80px;
}

.bg-white {
    background:white;
}